.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}

.article-card {
    position: relative;
    background-color: #e4faf9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
    height: 170px;
}
  
.articlecard-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.articlecard-content h3 {
    font-size: 20px;
    margin-bottom: 5px;
}
  
.articlecard-content p {
    font-size: 14px;
}

.article-card-link {
    text-decoration: none;
}

.article-title {
    margin-bottom: 5px; 
}
  
.article-info {
    display: flex;
    justify-content: center;
    margin-bottom: 15px; 
}
  
.article-info p {
    margin: 0 5px; 
}
  
.article-topic {
    margin-bottom: 10px;
}

.article-img-url {
    height: 250px;
    width: 70%;
    align-self: flex-start;
    margin-right: 200px;
}

.vote-icon-container {
    position:relative;
    bottom: 100px;
    right: 10px;
    text-align: right;
}


.vote-icon-container img {
    cursor: pointer;
    width: 20px; 
    height: 20px; 
    padding: 5px;
}

.comment-author-info {
    color: rgb(52, 75, 191);
}

.textareaStyle  {
    resize: vertical;
    min-height: 100px; 
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px
}

.buttonStyle:hover {
    cursor: pointer;
}

.buttonStyle {
    margin: 0 5px; 
    background-color: rgb(237, 187, 122);
}

.header {
    display: grid;
    align-items: center;
    padding: 10px;
    background-color: none;
    border-bottom: 1px solid #ddd;
}
  
.header-title {
    grid-column: 2;
    text-align: center;
    margin: 0;
}
  
.user-selection {
    grid-column: 3;
    justify-self: end;
    display: flex;
    align-items: center;
}
  
.user-selection label {
    margin-right: 10px;
}
  