.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}

.article-card {
    position: relative;
    background-color: #e4faf9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
    height: 170px;
}
  
.articlecard-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.articlecard-content h3 {
    font-size: 20px;
    margin-bottom: 5px;
}
  
.articlecard-content p {
    font-size: 14px;
}
  
.article-title {
    margin-bottom: 5px; 
}
  
.article-info {
    display: flex;
    justify-content: center;
    margin-bottom: 15px; 
}
  
.article-info p {
    margin: 0 5px; 
}
  
.article-topic {
    margin-bottom: 10px;
}

.upvote-icon-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.upvote-icon-container img {
    cursor: pointer;
    width: 20px; 
    height: 20px; 
}